# 39AA Project Part 3
[![Kaggle](https://kaggle.com/static/images/open-in-kaggle.svg)](https://kaggle.com/kernels/welcome?src=https://github.com/glaframb71/CS39AA-Project/blob/main/39aa-project-part-2.ipynb)

<font size='3'>Welcome to the third and final part of my 39AA Project! In the last two parts, we imported a data set of NFL players from the 2022 season that included their 'nflId', 'height', 'weight', 'birthDate', 'collegeName', 'position', and 'displayName'. With that data set, I decided I wanted to try and train some models to predict and athletes NFL position based of their 'height', 'weight', and 'collegeName'. Exploratory Data Analysis was then performed to get a visual representation of the data we had to work with and to better understand the structure of the set. We then moved on to train a RandomForestClassifier ML model with the data to see how well it would perform. In Part 3, we will be doing similar work that was done in Part 2 but this time we will be attempting to train an exisiting deep learning model. Let's go ahead and get started shall we?</font>

<font size='3'>Let's start by importing the neccesary libraries that are needed to complete this task.</font>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

<font size='3'>Now let's import our dataset.</font>

In [2]:
playersDataUrl = "https://raw.githubusercontent.com/glaframb71/CS39AA-Project/main/data/players.csv"
playersData = pd.read_csv(playersDataUrl)

playersData.head()

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

<font size='3'>The dataset has been successfully imported! Let's clean it up and filter out the players we had filtered out in Part 2.</font>

In [3]:
playersData = playersData.copy()
playersData.loc[:, 'height_inches'] = playersData['height'].apply(lambda x: int(x.split('-')[0]) * 12 + int(x.split('-')[1]))
height_index = playersData.columns.get_loc('height')
playersData.insert(height_index + 1, "height_inches", playersData.pop("height_inches"))
players = playersData[['height_inches', 'weight','collegeName', 'position']]

positions_to_drop = ['DB', 'LS']
filtered_players = players[~players['position'].isin(positions_to_drop)]

filtered_players.head()

   height_inches  weight     collegeName position
0             76     225        Michigan       QB
1             76     328        Arkansas        T
2             74     225      California       QB
3             78     267            UCLA       TE
4             76     217  Boston College       QB

<font size='3'>We have our cleaned up set with the collumns 'height_inches', 'weight', 'collegeName', and 'position' that represent NFL players. Now lets split this set up into our X and y data set.</font>

In [4]:
X = filtered_players.drop('position', axis=1)
y = filtered_players['position']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=10)

X_train_encoded = pd.get_dummies(X_train, columns=['collegeName'])

encoded_columns = X_train_encoded.columns

X_val_encoded = pd.get_dummies(X_val, columns=['collegeName'])

missing_cols = set(X_train_encoded.columns) - set(X_val_encoded.columns)

missing_cols_df = pd.DataFrame(False, index=X_val_encoded.index, columns=list(missing_cols))

X_val_encoded = pd.concat([X_val_encoded, missing_cols_df], axis=1)

X_val_encoded = X_val_encoded[encoded_columns]